
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html { 
    background-color: black;
    font-size: 62.5%;
    font-family: krub, sans-serif;
    color: white;
    height: 100%;
    text-align: center;
       
  
} */

body {

background-color: white;
background-size: cover;
background-repeat: no-repeat;
font-family: "krub", Arial, Helvetica, sans-serif;
}

.logo {
  width: 150px;
}
h1 {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

h2 {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.nav-link {
  font-size: 25px;

}
.nav-link:hover {
  background-color: red;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;

}

#carouselExampleIndicators {
  margin: 10px;
}

.video {
display: flex;
justify-content: center;
  margin: 200px 200px;
 
}

.botonContacto {
  background-color: black;
text-align: center;
  border-radius: 5px;
  color: black;
  padding: 1rem 2rem;
  font-size: 1.5rem; 
 margin-bottom: 30px;
margin: 10px;
}

.botonContacto a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  text-decoration: none;
  margin-top: 30px;
 
 
}

.botonContacto a:hover {
  background-color: red;
  padding: 15px
}

/* footer */

footer {
  width: 100%;
  background: white;
  height: 100px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  
}

footer .textoFooter p{
display: flex;
justify-content: flex-start;
}

.anchoFooter {
  margin-top: 30px;
}

.redes {

  display: inline-block;
}

.bi-facebook {
  font-size: 45px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}

.bi-facebook:hover {
  color: #3b5998;
}

.bi-whatsapp {
  font-size: 45px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: black
}

.bi-whatsapp:hover {
  color: #25D366;
}

.bi-instagram {
  font-size: 45px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}

.bi-instagram:hover {
  color: red;
}

.bi-youtube {
  font-size: 45px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}

.bi-youtube:hover {
  color: red;
}
.textoFooter  {
  display: flex;
  
}


@media (max-width: 500px) {

  .redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

